// bs reset
.accordion {
  &-item {
    margin-bottom: 1rem;
    border-radius: 0;
    border: 0;
    &:first-of-type {
      .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:last-of-type {
      .accordion-button.collapsed {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &-button {
    font-size: $tf-font-size;
    padding: 2rem 3rem 2rem 4rem;
    background-color: $accordion-bg;
    border: 0;
    color: $black;

    &:focus {
      border-color: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &:not(.collapsed) {
      background-color: $accordion-bg;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: inherit;
    }
  }
}
.accordion-sec {
  .accordion-button {
    background-color: $white;
    color: $accordion-header-color;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 3rem 3rem 3rem 4rem;
  }
  .accordion-body {
    padding: 2rem 3rem 2rem 4rem;
  }
}

.accordion {
  &-item {
    &.completed {
      .accordion-button {
        background-color: $dark-blue;
        color: $white;
        font-size: $tf-font-small-size;
      }

      .accordion-header {
        position: relative;

        &::after {
          content: "";
          height: 25px;
          width: 35px;
          display: block;
          position: absolute;
          right: 5%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          top: 50%;
          background-image: url(#{$images-path}/tariff/accordion-checked.svg);
          background-repeat: no-repeat;
          z-index: 9;
        }
      }
    }
  }
  &-button {
    font-size: $tf-font-size;
    padding: 2rem 3rem 2rem 4rem;
    background-color: $accordion-bg;
    border: 0;
    color: $black;

    @include breakpoint("ipad-max") {
      font-size: 1.8rem;
      padding: 2rem 1rem 2rem 2rem;
    }

    &::after {
      @include tr-drop-icon;
    }

    &:not(.collapsed)::after {
      @include tr-drop-icon;
    }
  }
  &-body {
    padding: 3rem 0;
  }
}

.accordion-collapse.collapse {
  -webkit-transition: 2s ease-in display;
  -o-transition: 2s ease-in display;
  transition: 2s ease-in display;
}
.collapse:not(.show) {
  -webkit-transition: 2s ease-in display;
  -o-transition: 2s ease-in display;
  transition: 2s ease-in display;
}
// rtl
[direction="rtl"] {
  .accordion-button {
    &::after {
      margin-right: auto;
      margin-left: 0;
    }
  }
  .accordion-item {
    &.completed {
      .accordion-header {
        &::after {
          left: 5%;
          right: unset;
        }
      }
    }
  }
}

