/* Badges */

.badge {
  border-radius: 0;
  font-size: 1.8rem;
  line-height: 1;
  padding: 0.5rem 2rem;
  font-weight: normal;
  text-transform: capitalize;
  &.badge-pill {
    // border-radius: 1.5rem;
    padding: 1rem 1.5rem;
  }
  a {
    &:hover {
      color: inherit;
    }
  }
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

// count badge
.count {
  border-radius: 50%;
  padding: 0.9rem 1.455rem;
}

@each $color, $value in $theme-colors {
  .count-#{$color} {
    @include count-variant($value);
  }
}
