footer {
  background: $primary-bg;
  padding-bottom: 1rem;
  padding-top: 3rem;
  margin-top: auto;
  z-index: 1;
  .footer-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 3rem;
    .footer-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 3.5rem;
      &_container {
        img {
          height: 6rem;
          width: auto;
        }
      }
    }
    &::after {
      content: "";
      width: 100%;
      border-bottom: solid 1px $white;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    .footer-link {
      position: relative;
      .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        .nav-link {
          font-size: 1.8rem;
          color: $white;
          font-weight: 900;
          padding: 1.5rem;
          -webkit-transition: 0.3s all ease-in;
          -o-transition: 0.3s all ease-in;
          transition: 0.3s all ease-in;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .copyright {
    padding-top: 1.8rem;
    p {
      font-size: 1.8rem;
      color: $white;
      font-weight: 400;
    }
  }
}

@include breakpoint("ipad-max") {
  footer {
    margin-left: 0;
    width: 100%;
    .footer-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 1.8rem;

      .footer-logo {
        margin-bottom: 1rem;
        img {
          height: 6rem;
          width: auto;
        }
      }
    }
    .copyright {
      p {
        font-size: 1.4rem;
      }
    }
  }
}
